pre {
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 2%;
}

* {
    padding: 0;
    margin: 0;
    cursor: default !important;
}

body {
    background-color: #F4F4F4;
}

/* 
  .main {
      margin: 0;
      padding: 0;
  } */

body .main {
    max-width: 1210px;
    min-width: 350px;
    width: 80vw;
    /* background-color: pink; */
    margin: 0 auto;
    padding: 0;
    background-color: #F4F4F4;
}

.main .main-content {
    /* background-color: pink; */
    width: 80vw;
    padding: 0;
    margin: 0 auto;
}

.main .main-content .site-header {
    overflow: hidden;
    position: relative;
    height: 57vh;
    width: 100%;
    margin-top: -20px;
    padding: 18vh 0;
    padding-bottom: 15vh;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
}

.main .main-content .site-header>a {
    float: left;
    width: 11vw;
    height: 11vw;
    min-width: 108px;
    min-height: 108px;
    margin: 0;
    padding: 0;
    /* margin-left: 2vw; */
    margin-right: 5vw;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    /* background-color: purple; */
}

.main .main-content .site-header>a img {
    width: 10.5vw;
    height: 10.5vw;
    min-width: 100px;
    min-height: 100px;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    border-radius: 4px;
    background: url(https://s3.ax1x.com/2021/02/16/ygnlDg.png) center;
    background-size: 100%;
    /* background-color: purple; */
}

.main-content .site-header .site-title {
    max-width: 905px;
    font-size: 36px;
    font-weight: 700;
}

.main-content .site-header .site-description {
    max-width: 905px;
    font-size: 20px;
    max-height: 160px;
}

.main-content .site-header .social-container>a {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 36px;
    padding: 0 16px;
    border: 2px solid #06f;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
}

.site-header .social-container>a i {
    display: none;
}

.site-header .social-container>a::after {
    content: 'CONTACT!';
    position: absolute;
    left: 19px;
    top: 0;
    color: #06f;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s;
}

.site-header .social-container>a:hover {
    background-color: #06f;
}

.site-header .social-container>a:hover::after {
    color: #fff;
}

/* 头部head end */

/* 导航栏nav start */

.menu-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 65px;
    z-index: 100;
    line-height: 60px;
    text-align: center;
    background-color: #fff;
    box-shadow: 3px -1px 10px rgba(0, 0, 0, .2);
}

.site-header .menu-container a.menu {
    padding: 0 20px;
    padding-top: 6px;
    height: 55px;
    cursor: default !important;
}

/* 导航栏nav end */

/* 内容container start */

.post-container .post {
    position: relative;
    height: 250px;
    padding: 10px 4%;
    margin-top: 200px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}

.post-container .post a:first-child {
    position: relative;
    z-index: 10;
    /* background-color: pink; */
}

.post-container .post .post-feature-image {
    overflow: hidden;
    position: absolute;
    top: -150px;
    right: 0;
    width: 100%;
    /* height: 150px; */
    border-radius: 25px 25px 0 0;
}

.post-container .post .post-title {
    display: inline-block;
    max-width: 755px;
    z-index: 10;
    padding: 0;
    margin: 1vw 0;
    margin-top: 20px;
    border-bottom: 2px dotted #EAEAEA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s;
}

.post-container .post .post-title:hover {
    color: #06f;
    border-bottom: 2px dotted #06f;
}

.post-container .post .post-abstract {
    position: relative;
    width: 48vw;
    min-width: 270px;
    z-index: 10;
    padding: 0 10px;
    margin-top: 5px;
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    color: #666;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.post-container .post .post-info {
    position: absolute;
    width: 100%;
    bottom: -15px;
    left: 0;
    /* background-color: pink; */
}

.post .post-info .post-info-tag, .post-container .post .post-info {
    text-align: center;
    max-width: 100%;
}

.post .post-info .post-info-tag {
    overflow: hidden;
    max-width: 100%;
    height: 22px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-container .post .post-info {
    margin-top: 15px;
}

.post .post-info .post-info-tag .post-tag {
    display: inline-block;
    padding: 0 7px;
    /* margin-left: 7px; */
    border: 1px solid #06f;
    border-radius: 9px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.post .post-info .post-info-tag .post-tag:hover {
    background-color: #06f;
    color: #fff;
}

.post-container .post .post-info span {
    display: inline-block;
}

.post-container .post .post-info>span:not(:first-child):before {
    display: none;
    content: "";
}

.post-container .post .post-info>span:not(:last-child):after {
    content: "/ ";
    font-size: 10px;
    color: rgba(0, 0, 0, 0.1);
    margin: 0 4px;
}

/* 内容container end */

/* 页脚start */

li {
    list-style: none;
}

.site-footer li {
    float: left;
}

.site-footer .spacer {
    margin: 0 5px;
}

.rss {
    display: none;
}

/* 内容页 start */

.post-detail .post {
    padding: 0;
}

.post-detail .post .post-title {
    min-width: 302px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #fff;
}

.post-detail .post .post-title, .post-detail .post .post-info {
    text-align: center;
}

.post-detail .post .post-content-wrapper {
    padding: 10px 4%;
    min-width: 302px;
    /* margin-bottom: 10px; */
    border-radius: 25px;
    background-color: #fff;
}

.post-detail .post .post-content-wrapper p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 26px;
}

.post-detail .post .post-content-wrapper p:first-child {
    border-bottom: 2px solid #EAEAEA;
}

.post-feature-image {
    display: none;
}

/* 内容页 end */

/* 标签页start */

.tags-container {
    padding: 32px 0;
    background-color: #fff;
    border-radius: 25px;
}

.tags-container .tag {
    background-color: #fff;
    border: 1px solid #06f;
    border-radius: 20px;
    color: #06f;
    font-weight: 600;
}

.tags-container .tag:hover {
    background-color: #06f;
    color: #fff;
}

.toc-container .markdownIt-TOC {
    position: sticky;
    top: 82px;
    width: 200px;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    padding: 16px 8px;
    padding-top: 0;
}

.toc-container .markdownIt-TOC:before {
    content: "";
    position: absolute;
    top: 0;
    left: 32px;
    bottom: 0;
    width: 2px;
    background-color: #06f;
    opacity: 0.5;
}

/* 标签页 end */

/* 归档页 start */

.archives-container {
    padding: 0;
}

.archives-container .year {
    width: 100%;
    margin: 0px 0px 16px;
    padding: 12px 24px;
    border-bottom: 1px solid #E6E6E6;
    font-size: 16px;
}

.archives-container .archives-inner {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 25px;
}

.archives-container .archives-inner:after {
    content: "";
    display: block;
    clear: both;
}

.archives-container .archives-inner a {
    position: relative;
    margin-bottom: 5px;
}

.archives-container .archives-inner a::before {
    position: absolute;
    left: 5px;
    top: 50%;
    content: '';
    height: 50%;
    border-right: 4px solid #06f;
    transform: translateY(-50%);
}

.archives-container .archives-inner .post:nth-child(even) {
    margin-right: 2%;
}

.archives-container .archives-inner .post-title {
    overflow: hidden;
    display: inline-block;
    position: relative;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 归档页 end */

.templet-inner {
    overflow: hidden;
}
